<% @page_title = "友達一覧" %>
<p><%= link_to "add", :new_friend %></p>

<% if @friends.present? %>
<table class="attd">
  <% @friends.each do |friend| %>
    <tr>
      <td><%= friend.id %></td>
      <td><%= link_to friend.name, friend %></td>
      <td><%= link_to "edit", [:edit, friend] %>
      <td><%= link_to "delete", "#" %></td>
    </tr>
  <% end %>
</table>
<% else %>
  <p>友達の情報がありません。</p>
<% end %>
