
<h2><%= @friend.name %></h2>

<%= render "shared/errors", obj: @telephone %>
<% if @telephones.count != 0 %>
  <table>
    <% @telephones.each do |telephone| %>
      <tr>
        <td>・</td>
        <td><%= telephone.number %></td>
        <td><%= telephone.cellphone %></td>
        <td><%= link_to "delete", [@friend, telephone], :class => "btn delete", method: :delete,
        data: { confirm: "本当に削除しますか？" } %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>電話番号がありません</p>
<% end %>

<%= form_for @telephone, url: [@friend, @telephone] do |form| %>
  <%= form.text_field :number, size: 15, :placeholder => "name" %>
  <%= form.check_box :cellphone %>
  <%= form.submit %>
  <%= form.hidden_field :friend_id %>
<% end %>

  <%= will_paginate @telephones %>

<%= link_to "<<Top", :root %>

